<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allen.article">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".debug.ArticleApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/module_article_app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".debug.ArticleTestMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".debug.ArticleTestFragmentActivity" />

        <activity android:name=".web.WebViewActivity" />
        <activity android:name=".article.ArticleTabViewPagerActivity" />
        <activity android:name=".collect.UserCollectActivity" />
        <activity android:name=".search.SearchActivity" />
    </application>

</manifest>